body {
	font-family: arial, sans-serif;
}

a {
	color: #5f6368;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	font-size: 13px;
	font-weight: 549;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header-left {
	display: inline-block;
	padding-left: 18px;
	padding-top: 14px;
	word-spacing: 1.05em;
	align-items: center;
}

.header-right {
	display: inline-block;
	padding-top: 8px;
	padding-right: 22px;
	word-spacing: 1.2em;
	align-items: center;
}

#apps {
	width: 16px;
	height: 16px;
	position: relative;
	top: 4px;
}

#button {
	background-color: #4285f4;
	color: white;
	width: 70px;
	height: 30px;
	border: 1px solid #4285f4;
	font-weight: bold;
}

.img {
	width: 100%;
	text-align: center;
	padding-top: 110px;
}

.text-field {
	width: 100%;
	text-align: center;
	padding-top: 23px;
}

#field {
	width: 582px;
	height: 44px;
	border-radius: 24px;
	border: 1px solid #dfe1e5;
	text-indent: 50px;
}

#field:hover {
	box-shadow: 0.2px 0.2px 8px rgb(209, 209, 209);
}

#field:focus {
	outline: none;
	box-shadow: 0.2px 0.2px 8px rgb(209, 209, 209);
}

.buttons {
	width: 100%;
	text-align: center;
	padding-top: 28px;
}

#search {
	width: 126px;
	height: 34px;
	border: none;
	border-radius: 4px;
	background-color: #f2f2f2;
	color: #5f6368;
	font-size: 14px;
	margin-right: 9px;
	position: relative;
	left: 2px;
}

#search:hover {
	border: 1px solid #c6c6c6;
	color: #222;
}

#search:focus {
	outline: none;
}

#lucky {
	width: 140px;
	height: 36px;
	border-radius: 4px;
	border: none;
	background-color: #f2f2f2;
	color: #5f6368;
	font-size: 14px;
	margin-right: 16px;
	position: relative;
	left: 2px;
}

#lucky:hover {
	border: 1px solid #c6c6c6;
	color: #222;
}

#lucky:focus {
	outline: none;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	border: solid 1px #e4e4e4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.footer-left {
	display: inline-block;
}

.footer-right {
	display: inline-block;
	padding-right: 40px;
}

.footer-link {
	padding-left: 27px;
	padding-bottom: 10px;
}
